.main {
  padding-top: 15px;
}

h3 {
  font-weight: bold;
}

.hr-headlines {
  margin-top: 0;
  border: 0;
  border-top: 5px solid #008cff;
}

p {
  margin-bottom: 0.7rem;
}

#url-main-project {
  word-wrap: break-word;
  color: black;
  /* text-decoration: underline;
  text-decoration-color: #008cff; */
}

ul {
  padding-left: 23px;
}

h6 {
  font-weight: bold;
  color: #008cff;
}

.skill {
  color: #008cff;
  font-weight: bold;
}

.span-skills {
  border: 2px solid #008cff;
  padding: 7px;
  background-color: #edf1f5;
}

.span-languages {
  border-bottom: 2px solid #008cff;
}

.hr-divider {
  margin-top: 0;
  border: 0;
  border-top: 2px solid rgb(98, 93, 93);
  margin-bottom: 10px;
}
